.card-white {
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #E6E6E6;
  padding: 10px;
}

.card-image {
  height: 150px;
  background-size: cover;
  position: relative;
}

.card-image img {

}

.card-image-hover {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  opacity: 0;
}

.card-image:hover .card-image-hover {
  opacity: 1;
}

.card-controls {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.card-controls i {
  padding: 0 5px 0 20px;
  color:#0074B5;
}

.avatar {
  border-radius: 50%;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer img {
  margin-right: 10px;
}


.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 0 0 32%;
}






